body {
  background-color: #ffe6e6;
  font-family: 'IBM Plex Mono';
  font-weight: 100;
    color: #ff471a;
}

h1 {
  color: #ff471a;
  text-align: left;
  font-weight: 100;
}
p {
  font-size: 25px;
  font-weight:100;
  color: #ff471a;
}
div {
  padding: 40px;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-right: 20%;
  margin-left: 20%;
  border: 1px dashed #ff471a;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
a:hover {
  background-color: yellow;
}
ul.a {
  list-style-type: circle;
  color: #ff471a;
}

ul.b {
  list-style-type: square;
    color: #ff471a;
}

ol.c {
  list-style-type: upper-roman;
    color: #ff471a;
}

ol.d {
  list-style-type: lower-alpha;
    color: #ff471a;
}
