body {
  background-color: #f0f0f0;
  font-family: 'IBM Plex Mono';
  font-weight: 100;
    color: #101010;
}

h1 {
  color: #000000;
  text-align: left;
  font-weight: 100;
}
p {
  font-size: 21px;
  font-weight:100;
  color: #000000;
}
p.indent {
  font-size: 30px;
  font-weight:100;
  color: #000000;
  padding-left: 100px;
}
div.a {
    /* transform: rotate(270deg); */
  position: fixed;
top: 0;
left: 0;
width: 120px;

}
div.aa {
    /* transform: rotate(270deg); */
  position: fixed;
top: 0;
left: 0;
width: 120px;
background-color: yellow;

}
div.b {
  position: fixed;
top: 0;
right: 0;
width: 120px;
text-align: right;
}
div.bb {
  position: fixed;
top: 0;
right: 0;
width: 120px;
text-align: right;
background-color: yellow;
}
div.c {
  position: fixed;
bottom: 0;
left: 0;
width: 120px;
}
div.cc {
  position: fixed;
bottom: 0;
left: 0;
width: 120px;
background-color: yellow;
}
div.d {
  position: fixed;
bottom: 0;
right: 0;
width: 120px;
text-align: right;
}
div.dd {
  position: fixed;
bottom: 0;
right: 0;
width: 120px;
text-align: right;
background-color: yellow;
}
div.e {
  background-color: black;
  height: 90%;
  width: 90%;
}
/* unvisited link */
a:link {
  color: #f0f0f0;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #dfdfdf;
}

/* mouse over link */
a:hover {
  color: #101010;
  /* background-color: yellow; */
  text-decoration: overline;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #000000;

}

div.oval {
  height: 6000px;
  width: 6000px;
  background-color: #101010;
  border-radius: 50%;
  z-index: 1;
}

div.center {
color: white;
margin: auto;
width: 60%;
/* border: 3px solid #73AD21; */
padding: 10px;
z-index: 10;
}
.center p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #101010;
  line-height: 150%;
  hanging-punctuation: first;
}
